{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    {% if product.image %}<img src="{{ product.image.url }}" class="img-fluid">{% endif %}
  </div>
  <div class="col-md-7">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    <p><strong>Категория:</strong> {{ product.category }}</p>
    <a href="{% url 'catalog:product_edit' product.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
    <a href="/" class="btn btn-secondary">Назад</a>
  </div>
</div>
{% endblock %}
